/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

p {
  font-family: 'Barlow';
}

a:link,
a:visited {
  text-decoration: none;
}

/*************************/
/* HEADER */
/*************************/
.main-header {
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow';
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem 3.2rem;
}

.logo {
  font-family: 'Barlow';
  font-weight: 600;
}

.main-nav-list,
.footer-nav-list,
.footer-social-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: inherit;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.cta-link:link,
.cta-link:visited {
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  transition: background-color 0.3s;
}

.cta-link:hover,
.cta-link:active {
  background-color: hsl(0, 0%, 95%);
}

.header-content-box {
  margin-top: 4.8rem;
}

.header-content-heading {
  font-family: 'Fraunces';
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.arrow-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/*************************/
/* SERVICES SECTION */
/*************************/
.section-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.services-content-box {
  width: 75%;
}

.service-heading {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.service-text,
.service-img-text {
  color: hsl(213, 9%, 39%);
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.service-cta:link,
.service-cta:visited {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
  font-weight: 900;
  text-transform: uppercase;
}

.underline {
  height: 10px;
  width: 30%;
  position: relative;
  top: -8px;
  right: 10px;
  z-index: -1;
}

.brand-cta-underline {
  background-color: hsla(51, 100%, 49%, 0.25);
}

.audience-cta-underline {
  background-color: hsla(7, 99%, 70%, 0.25);
}

.service-img {
  width: 100%;
}

.service-img-box {
  position: relative;
}

.service-img-content {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  width: 57%;
  transform: translateX(-50%);
}

.service-img-heading {
  font-family: 'Fraunces';
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 3.2rem;
}

.graphic-design-heading,
.graphic-design-text {
  color: hsl(167, 40%, 24%);
}

.photography-heading,
.photography-text {
  color: hsl(198, 62%, 26%);
}

/*************************/
/* TESTIMONIALS SECTION */
/*************************/
.section-testimonials {
  padding: 12.8rem 9.6rem;
  text-align: center;
}

.testimonials-heading {
  color: hsla(213, 9%, 39%, 0.5);
  font-size: 2rem;
  font-family: 'Fraunces';
  font-weight: 900;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 6.4rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.8rem;
}

.testimonial-img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.testimonial-text {
  color: hsl(213, 9%, 39%);
  font-family: 'Barlow';
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.testimonial-author {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces';
  font-weight: 900;
  margin-bottom: 2.4rem;
}

.testimonial-job {
  color: hsla(213, 9%, 39%, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
}

/*************************/
/* IMAGES SECTION */
/*************************/
.section-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.section-img {
  width: 100%;
}

/*************************/
/* FOOTER */
/*************************/
.footer {
  background-color: hsl(165, 46%, 74%);
  color: hsl(168, 34%, 41%);
  font-family: 'Barlow';
  text-align: center;
  padding: 9.6rem 0;
}

.footer-logo {
  font-family: 'Barlow';
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav-list {
  margin-bottom: 6.4rem;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.footer-nav-link:hover,
.footer-nav-link:active {
  border-bottom: 2px solid hsl(168, 34%, 41%);
}

.footer-social-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: hsl(168, 34%, 41%);
  transition: color 0.3s;
}

.footer-social-icon:hover {
  color: hsl(168, 34%, 30%);
}
